{% extends 'SilverkixCMSBundle:Admin:index.html.twig' %}

{% block content -%}
    <h2><a href="#">Manage Pages</a></h2>
    <h3>Overview</h3>
    <p>The current pages on this website are listed over here. You can edit, delete of create new pages.</p>
    <p class="right"><a href="{{ path('admin_page_new') }}">Create a new entry</a></p>
    <table class="records_list">
        <thead>
            <tr>
                <th>Title</th>
                <th>Keywords</th>
                <th>Description</th>
                <th>Online</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>{{ entity.keywords }}</td>
                <td>{{ entity.description }}</td>
                <td>
                    {% if entity.online == true %}
                        <span class="success">Online</span>
                    {% else %}
                        <span class="error">Offline</span>
                    {% endif %}
                </td>
                <td class="action">
                        <a href="{{ path('admin_page_edit', { 'id': entity.id }) }}" class="edit"><img src="{{ asset('/bundles/silverkixcms/admin/img/blue/edit.gif') }}"/></a>
                        <a href="{{ path('admin_page_move_up', { 'id': entity.id }) }}" {% if loop.first %}class="hidden"{% endif %}><img src="{{ asset('/bundles/silverkixcms/admin/img/blue/arrow-up.gif') }}"/></a>
                        <a href="{{ path('admin_page_move_down', { 'id': entity.id }) }}" {% if loop.last %}class="hidden"{% endif %}><img src="{{ asset('/bundles/silverkixcms/admin/img/blue/arrow-down.gif') }}"/></a>
                </td>
            </tr>
            {% if entity.children|length > 0 %}
            <tr class="children">
                <td colspan="5">
                    <table>
                        <tbody>
                        {% for child in entity.children %}
                            <tr>
                                <td>{{ child.title }}</td>
                                <td>{{ child.keywords }}</td>
                                <td>{{ child.description }}</td>
                                <td>
                                    {% if child.online == true %}
                                        <span class="success">Online</span>
                                    {% else %}
                                        <span class="error">Offline</span>
                                    {% endif %}
                                </td>
                                <td class="action">
                                    <a href="{{ path('admin_page_edit', { 'id': child.id }) }}" class="edit"><img src="{{ asset('/bundles/silverkixcms/admin/img/blue/edit.gif') }}"/></a>
                                    <a href="{{ path('admin_page_move_up', { 'id': child.id }) }}" {% if loop.first %}class="hidden"{% endif %}><img src="{{ asset('/bundles/silverkixcms/admin/img/blue/arrow-up.gif') }}"/></a>
                                    <a href="{{ path('admin_page_move_down', { 'id': child.id }) }}" {% if loop.last %}class="hidden"{% endif %}><img src="{{ asset('/bundles/silverkixcms/admin/img/blue/arrow-down.gif') }}"/></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
