{% set resources = '/bundles/silverkixcms/admin/' %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Silverkix CMS</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css" />
<link href="{{asset(resources)}}css/transdmin.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{asset(resources)}}css/apprise.min.css" rel="stylesheet" type="text/css" media="screen" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="style/css/ie6.css" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="style/css/ie7.css" /><![endif]-->

<!-- JavaScripts-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" ></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{asset(resources)}}js/jNice.js"></script>
<script type="text/javascript" src="{{asset(resources)}}js/apprise-1.5.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <!-- h1 tag stays for the logo, you can use the a tag for linking the index page -->
        <h1><a href="#"><span>Transdmin Light</span></a></h1>

        <!-- You can name the links with lowercase, they will be transformed to uppercase by CSS, we prefered to name them with uppercase to have the same effect with disabled stylesheet -->
        <ul id="mainNav">
            <li><a href="{{path('admin_page')}}" {% if "/admin/page/" in app.request.server.get('PATH_INFO') %}class="active"{% endif %}>PAGES</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="{{path('admin_user')}}" {% if "/admin/user/" in app.request.server.get('PATH_INFO') %}class="active"{% endif %}>USERS</a></li>
            <li class="logout"><a href="{{path('admin_logout')}}">LOGOUT</a></li>
            <li class="logout"><a href="{{path('home')}}">VIEW SITE</a></li>
        </ul>
        <!-- // #end mainNav -->

        <div id="containerHolder">
            <div id="container">
                <div id="sidebar">
                    <p>Hey hallo, dit is een stukje tekst in de sidebar</p>
                    <!--
                    <ul class="sideNav">
                        <li><a href="#">Exchange</a></li>
                        <li><a href="#" class="active">Print resources</a></li>
                        <li><a href="#">Training &amp; Support</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Safari books online</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>
                    <!-- // .sideNav -->
                </div>
                <!-- // #sidebar -->
                <!-- h2 stays for breadcrumbs -->
                <div id="main">
                    {% block content %}
                        <h2><a href="#">Dashboard</a></h2>
                        <h3>Error</h3>
                        <p>You have not used a template to extend this base template.</p>
                    {% endblock %}
                </div>
                <!-- // #main -->

                <div class="clear"></div>
            </div>
            <!-- // #container -->
        </div>
        <!-- // #containerHolder -->

        <p id="footer">Feel free to use and customize it. <a href="http://www.perspectived.com">Credit is appreciated.</a></p>
    </div>
    <!-- // #wrapper -->
    <!-- Custom scripts and styles -->
    {% block scripts %}
    {% endblock %}
</body>
</html>


