{% set public = '/bundles/silverkixcms/site/' %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>{% block headtitle %}{% endblock %}</title>
<meta name="description" content="{% block description %}{% endblock %}" />
<meta name="keywords" content="{% block keywords %}{% endblock %}" />

<link rel="shortcut icon" href="{{ asset(public) }}images/favicon.png"/>
<link rel="stylesheet" type="text/css" href="{{ asset(public) }}style.css" media="all" />
<link rel="stylesheet" type="text/css" href="{{ asset(public) }}css/view.css" media="all" />
<link rel="stylesheet" type="text/css" href="{{ asset(public) }}type/marketdeco.css" media="all" />
<link rel="stylesheet" type="text/css" href="{{ asset(public) }}type/merriweather.css" media="all" />
<link rel="stylesheet" type="text/css" href="{{ asset(public) }}css/queries.css" media="all" />
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="{{ asset(public) }}css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="{{ asset(public) }}css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="{{ asset(public) }}js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ asset(public) }}js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="{{ asset(public) }}js/html5.js"></script>
<script type="text/javascript" src="{{ asset(public) }}js/jquery.fitvids.js"></script>
<script type="text/javascript" src="{{ asset(public) }}js/selectnav.js"></script>
<script type="text/javascript" src="{{ asset(public) }}js/twitter.min.js"></script>
</head>

<body class="singular page">
<div id="page" class="hfeed">
<div id="wrapper">
<header id="branding" role="banner">
  <h1 id="site-title">
    <a href="index.html" title="Serendipity" rel="home">
            <img src="{{ asset(public) }}images/logo.png" alt="Serendipity" />
    </a>
  </h1>
  <div class="social">
    <div class="widget_search">
      <form method="get" class="search-form">
        <input type="submit" value="Search" class="search-submit-button" />
        <input type="text" value="Search" onfocus="this.value=''" onblur="this.value='Search'" name="s" class="search-text-box" />
      </form>
    </div>
    <ul>
      <li><a href="#" target="_blank"><img src="{{ asset(public) }}images/icon-rss.png" alt="RSS" /></a></li>
      <li><a href="#" target="_blank"><img src="{{ asset(public) }}images/icon-facebook.png" alt="Facebook" /></a></li>
      <li><a href="#" target="_blank"><img src="{{ asset(public) }}images/icon-twitter.png" alt="Twitter" /></a></li>
      <li><a href="#" target="_blank"><img src="{{ asset(public) }}images/icon-dribbble.png" alt="Dribbble" /></a></li>
      <li><a href="#" target="_blank"><img src="{{ asset(public) }}images/icon-linkedin.png" alt="LinkedIn" /></a></li>
      <li><a href="#" target="_blank"><img src="{{ asset(public) }}images/icon-pinterest.png" alt="Pinterest" /></a></li>
    </ul>
  </div>
  {% render(controller('SilverkixCMSBundle:Helper:navigation')) %}
  <!-- #access -->
</header>
<!-- #branding -->

<div id="main">

<div id="primary">
  <div id="content" role="main">

  <div id="crumbs">
    <a href="#">Home</a> <span class="delimiter">/</span>
    <span class="current">Columns</span>
  </div>


  <!-- begin article -->
  <article class="page hentry">
    <header class="entry-header">
        <h1 class="entry-title">{{ page.title | capitalize}}</h1>
    </header>
    <!-- .entry-header -->

    <div class="entry-content">
        <div class="two-third">
            {% block content %}
                <p>Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus. Maecenas ante lectus, placerat et venenatis quis, dictum quis orci. Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus. </p>
          {% endblock %}
        </div>
        <div class="one-third last">
          <p>Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus. Maecenas. </p>
        </div>
        <div class="clear"></div>
    </div>
    <!-- .entry-content -->

  </article>
  <!-- end article -->



  </div><!-- #content -->
</div><!-- #primary -->


</div><!-- #main -->

    <footer id="colophon" role="contentinfo">
        <div id="supplementary" class="four">
            <div id="first" class="widget-area" role="complementary">
                <aside class="widget">
                    <h5 class="widget-title">Search</h5>
                    <form method="get" id="searchform" action="http://themes.iki-bir.com/serendipity-wp/">
                        <input type="text" class="field" name="s" id="s" title="Search" placeholder="" />
                        <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
                    </form>
                </aside>

                <aside class="widget">
                    <h5 class="widget-title">Recent Posts</h5>
                        <ul>
                            <li><a href="#" title="A Wonderful Serenity">A Wonderful Serenity</a></li>
                            <li><a href="#" title="The Meridian Sun">The Meridian Sun</a></li>
                            <li><a href="#" title="Gallery Format">Gallery Format</a></li>
                            <li><a href="#" title="Gregor Samsa">Gregor Samsa</a></li>
                            <li><a href="#" title="A Life In The Day">A Life In The Day</a></li>
                        </ul>
                </aside>
            </div><!-- #first .widget-area -->

            <div id="second" class="widget-area" role="complementary">
                <aside class="widget">
                    <h5 class="widget-title">Twitter</h5>
                    <div id="twitter-wrapper">
                        <div id="twitter"></div>
                        <span class="username"><a href="http://twitter.com/elemisdesign">→ Follow @elemisdesign</a></span>
                    </div>
                </aside>
            </div><!-- #second .widget-area -->

            <div id="third" class="widget-area" role="complementary">
                <aside class="widget">
                    <h5 class="widget-title">Tags</h5>
                        <div class="tagcloud"><a href='#' class='tag-link-37' title='1 topic' style='font-size: 8pt;'>blogroll</a>
                        <a href='#' class='tag-link-33' title='4 topics' style='font-size: 19.666666666667pt;'>daily</a>
                        <a href='#' class='tag-link-32' title='1 topic' style='font-size: 8pt;'>dialog</a>
                        <a href='#' class='tag-link-28' title='1 topic' style='font-size: 8pt;'>gallery</a>
                        <a href='#' class='tag-link-27' title='1 topic' style='font-size: 8pt;'>journal</a>
                        <a href='#' class='tag-link-36' title='1 topic' style='font-size: 8pt;'>link</a>
                        <a href='#' class='tag-link-31' title='1 topic' style='font-size: 8pt;'>motion</a>
                        <a href='#' class='tag-link-38' title='1 topic' style='font-size: 8pt;'>music</a>
                        <a href='#' class='tag-link-25' title='5 topics' style='font-size: 22pt;'>photo</a>
                        <a href='#' class='tag-link-26' title='2 topics' style='font-size: 13.25pt;'>professional</a>
                        <a href='#' class='tag-link-29' title='1 topic' style='font-size: 8pt;'>quotation</a>
                        <a href='#' class='tag-link-34' title='1 topic' style='font-size: 8pt;'>show</a>
                        <a href='#' class='tag-link-39' title='1 topic' style='font-size: 8pt;'>sound</a>
                        <a href='#' class='tag-link-35' title='1 topic' style='font-size: 8pt;'>tv</a>
                        <a href='#' class='tag-link-30' title='1 topic' style='font-size: 8pt;'>video</a></div>
                </aside>

                <aside class="widget">
                    <h5 class="widget-title">Archives</h5>
                        <ul>
                            <li><a href='#' title='May 2012'>May 2012</a></li>
                            <li><a href='#' title='April 2012'>April 2012</a></li>
                        </ul>
                </aside>
            </div><!-- #third .widget-area -->

            <div id="fourth" class="widget-area" role="complementary">
                <aside class="widget">
                    <h5 class="widget-title">About</h5>
                    <div class="textwidget"><p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. </p>
                        <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                    </div>
                </aside>
            </div><!-- #third .widget-area -->
        </div><!-- #supplementary -->
        <div id="site-generator">
            Copyright 2012 - Serendipity
        </div>

    </footer><!-- #colophon -->
    </div><!-- #wrapper -->
</div><!-- #page -->

<script type="text/javascript" src="{{ asset(public) }}js/scripts.js"></script>
</body>
</html>
